.input {
	background: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	width: 100%;
	margin-bottom: 2rem;
	font-size: 16px;
	padding: 3px;
	color: white;
	outline: none;
	-moz-outline: none;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
	-webkit-text-fill-color: white;
}

.label {
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	transition: all 0.3s ease;
	pointer-events: none;
}
.input:valid ~ label,
.input:focus ~ label {
	top: -20px;
	left: 0;
	color: #03e9f4;
	font-size: 16px;
	outline: none;
}

.error {
	color: #bc13fe;
}
