@import "./configs";

$time: 2s;

.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}

.container {
	align-items: center;
	justify-content: center;
	display: flex;
	overflow: hidden;
	height: 100vh;
	width: 100%;
}
.outerParent {
	width: 400px;
	padding: 40px;
	background: rgba(0, 0, 0, 0.8);
	box-shadow: 3px 3px 5px 6px rgba(161, 23, 242, 0.6);
	border-radius: 10px;

	h2 {
		text-align: center;
		color: white;
		margin: 0 0 2rem;
	}

	.user_box {
		position: relative;
		margin-bottom: 1rem;
	}
	a {
		// color: white;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 2px;
		padding: 10px;
		position: relative;
		display: inline-block;
		transition: all 0.3s ease;
		cursor: pointer;

		span {
			position: absolute;
			display: block;
		}

		@include make-span(1, 90deg, top, left, 100%, 2px, span1, ($time * 0/4));
		@include make-span(2, 180deg, right, top, 2px, 100%, span2, ($time * 1/4));
		@include make-span(
			3,
			270deg,
			bottom,
			right,
			100%,
			2px,
			span3,
			($time * 2/4)
		);
		@include make-span(
			4,
			360deg,
			left,
			bottom,
			2px,
			100%,
			span4,
			($time * 3/4)
		);
	}
	a:hover {
		background: #a117f2;
		color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 5px #a117f2, 0 0 25px #a117f2, 0 0 50px #a117f2,
			0 0 100px #a117f2;
	}
	// a:hover {
	// 	background: #03e9f4;
	// 	color: #fff;
	// 	border-radius: 5px;
	// 	box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
	// 		0 0 100px #03e9f4;
	// }
}
.divider {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@include keyframe-replace(left, span1);
@include keyframe-replace(top, span2);
@include keyframe-replace(right, span3);
@include keyframe-replace(bottom, span4);
