.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #09091fa8;
  border-radius: 20px;
  width: 380px;
  margin-left: 10px;
  margin-bottom: 60px;
}

.outerParent {
	width: 400px;
	padding: 40px;
	border-radius: 10px;
}

