// fonts
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
// variables
$box-shadow-one: 0px 5px 10px rgba(0, 0, 0, 0.3);
$box-shadow-two: 0px 10px 40px rgba(0, 0, 0, 0.5);

$button-bg-one: linear-gradient(50deg, #000428, #004e92);
$button-bg-two: linear-gradient(50deg, #004e92, #000428);

$main-bg: linear-gradient(60deg, #c4e0e5, #4ca1af);

$bg-one: linear-gradient(25deg, #26a9b3, #5b86e5);
$bg-two: linear-gradient(25deg, #b06ab3, #4568dc);
$bg-three: linear-gradient(25deg, #dd2476, #ff512f);
